body
{
    background-image:url("imagene/imagendefondo.jpg");
    background-repeat: no-repeat;
    background-size: 1366px;
    background-color: black;
    background-attachment:fixed ;
    color:antiquewhite;
    
}

